# Name: BoneJ_
# Author: Michael Doube
# Version: 1.0
# Date: 2009/04/16
# Requires: ImageJ 1.42l
# Generate the jar file using: "jar cvfM jar_demo.jar *"

Plugins>BoneJ, "Analyse Skeleton", Analyze_Skeleton
Plugins>BoneJ, "Anisotropy", Anisotropy_
Plugins>BoneJ, "Connectivity", Connectivity_
Plugins>BoneJ, "Fit Sphere", Fit_Sphere
Plugins>BoneJ, "Fractal Dimension", Fractal_Count
Plugins>BoneJ, "Moments 3D", Moments_3D
Plugins>BoneJ, "Neck Shaft Angle", Neck_Shaft_Angle
Plugins>BoneJ, "Plateness", Plate_Rod
Plugins>BoneJ, "Purify", Purify_
Plugins>BoneJ, "Skeletonise 3D", Skeletonize3D_
Plugins>BoneJ, "Slice Geometry", Slice_Geometry
Plugins>BoneJ, "Thickness", Thickness_
Plugins>BoneJ, "Volume Fraction", Volume_Fraction
