# Name: BoneJ_
# Author: Michael Doube
# Version: 1.1.2
# Date: 2010/01/08
# Requires: ImageJ 1.43m
# Generate the jar file using: "jar cvfM BoneJ_.jar *"

Plugins>Analyze, "Particle Analyser", org.doube.bonej.ParticleCounter
Plugins>BoneJ, "Analyse Skeleton", Analyze_Skeleton
Plugins>BoneJ, "Anisotropy", org.doube.bonej.Anisotropy
Plugins>BoneJ, "Connectivity", org.doube.bonej.Connectivity
Plugins>BoneJ, "Fit Sphere", Fit_Sphere
Plugins>BoneJ, "Fractal Dimension", Fractal_Count
Plugins>BoneJ, "Isosurface", org.doube.bonej.MeasureSurface
Plugins>BoneJ, "Moments 3D", org.doube.bonej.Moments
Plugins>BoneJ, "Neck Shaft Angle", Neck_Shaft_Angle
Plugins>BoneJ, "Optimise Threshold", org.doube.bonej.ThresholdMinConn
Plugins>BoneJ, "Plateness", Plate_Rod
Plugins>BoneJ, "Purify", org.doube.bonej.Purify
Plugins>BoneJ, "Skeletonise 3D", org.doube.bonej.Skeletonize3D
Plugins>BoneJ, "Slice Geometry", Slice_Geometry
Plugins>BoneJ, "Thickness", org.doube.bonej.Thickness
Plugins>BoneJ, "Volume Fraction", Volume_Fraction
Plugins>Stacks, "Delete Slice Range", org.doube.util.DeleteSliceRange
Plugins>Process, "Erode 3D", org.doube.bonej.Erode
Plugins>Process, "Dilate 3D", org.doube.bonej.Dilate
