# Name: BoneJ_
# Author: Michael Doube
# Version: 1.4.1
# Date: 2015-08-27
# Requires: ImageJ 1.49q
# Generate the jar file using: "jar cvfM BoneJ_.jar *"

Plugins>Analyze, "Orientation", org.doube.geometry.Orienteer
Plugins>Analyze, "Particle Analyser", org.doube.bonej.ParticleCounter
Plugins>Analyze, "Calibrate SCANCO", org.doube.util.DensityCalibrator("scanco")

Plugins>BoneJ, "Analyse Skeleton", org.doube.skeleton.AnalyzeSkeleton
Plugins>BoneJ, "Anisotropy", org.doube.bonej.Anisotropy
Plugins>BoneJ, "Connectivity", org.doube.bonej.Connectivity
Plugins>BoneJ, "Ellipsoid Factor", org.bonej.EllipsoidFactor
Plugins>BoneJ, "Fractal Dimension", org.doube.bonej.FractalBoxCounter
Plugins>BoneJ, "Isosurface", org.doube.bonej.MeasureSurface
Plugins>BoneJ, "Optimise Threshold", org.doube.bonej.ThresholdMinConn
Plugins>BoneJ, "Purify", org.doube.bonej.Purify
Plugins>BoneJ, "Skeletonise 3D", org.doube.skeleton.Skeletonize3D
Plugins>BoneJ, "Structure Model Index", org.doube.bonej.StructureModelIndex
Plugins>BoneJ, "Thickness", org.doube.bonej.Thickness
Plugins>BoneJ, "Triple Point Angles", org.bonej.SkeletonAngles
Plugins>BoneJ, "Volume Fraction", org.doube.bonej.VolumeFraction

Plugins>BoneJ, "-"
Plugins>BoneJ, "Fit Ellipsoid", org.doube.bonej.EllipsoidFitter
Plugins>BoneJ, "Fit Sphere", org.doube.bonej.SphereFitter
Plugins>BoneJ, "Moments of Inertia", org.doube.bonej.Moments
Plugins>BoneJ, "Neck Shaft Angle", org.doube.bonej.NeckShaftAngle
Plugins>BoneJ, "Slice Geometry", org.doube.bonej.SliceGeometry

Plugins>Process, "Erode 3D", org.doube.bonej.Erode
Plugins>Process, "Dilate 3D", org.doube.bonej.Dilate

Plugins>Stacks, "Delete Slice Range", org.doube.util.DeleteSliceRange
Plugins>Stacks, "Check Voxel Depth", org.doube.util.VoxelDepthChecker
Plugins>Stacks, "Interpolate ROIs", org.doube.util.RoiInterpolator

Plugins>pQCT, "Distribution Analysis", org.doube.bonej.pqct.Distribution_Analysis
Plugins>pQCT, "Export Stratec Header", org.doube.bonej.pqct.Export_Header
Plugins>pQCT, "Strip Stratec Header", org.doube.bonej.pqct.Strip_Stratec_File_Header

File>Import, "Kontron IMG", org.bonej.io.KontronIMGReader
File>Import, "Scanco ISQ", org.bonej.io.ISQReader
File>Import, "Stratec pQCT", org.doube.bonej.pqct.Read_Stratec_File

Edit>Options, "BoneJ Usage", org.doube.util.ReporterOptions

Help>About Plugins, "BoneJ", org.bonej.Help("about")
